{% extends "clima.html" %}

{% block title %}Predicción del clima{% endblock %}
<style>
  .form-group {
    margin: 20px;
  }
  .range-container {
    display: flex;
    align-items: center;
  }
  .range-label {
    margin: 0 10px;
  }
  .value-display {
    margin-left: 10px;
    font-weight: bold;
  }
</style>
{% block content %}
<h1 class="mt-5" style="color: #ffae00;">Predicción de lluvia en Australia</h1>

<form method="post">
  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="locationSelect">Location</label>
        <select class="form-control" id="locationSelect" style="background-color: grey;" name="Location">
          <option value="Adelaide">Adelaide</option>
          <option value="Canberra">Canberra</option>
          <option value="Cobar">Cobar</option>
          <option value="Dartmoor">Dartmoor</option>
          <option value="Melbourne">Melbourne</option>
          <option value="MelbourneAirport">Melbourne Airport</option>
          <option value="MountGambier">Mount Gambier</option>
          <option value="Sydney">Sydney</option>
          <option value="SydneyAirport">Sydney Airport</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="rangeInput" >MinTemp</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">-8.5</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label">33.9</span>
            </div>
          </div>
          <input type="range" class="form-range" id="rangeInput" name="MinTemp" min="-8.5" max="33.9" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">-8.5</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="MaxTemp">MaxTemp</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">-4.8</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >48.1</span>
            </div>
          </div>
          <input type="range" name="MaxTemp" class="form-range" id="rangeInput" min="-4.8" max="48.1" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">-4.8</span>
        </center>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Rainfall">Rainfall</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >371.0</span>
            </div>
          </div>
          <input type="range" name="Rainfall" class="form-range" id="rangeInput" min="0" max="371.0" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Evaporation">Evaporation</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >145.0</span>
            </div>
          </div>
          <input type="range" name="Evaporation" class="form-range" id="rangeInput" min="0" max="145.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Sunshine">Sunshine</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >14.5</span>
            </div>
          </div>
          <input type="range" name="Sunshine" class="form-range" id="rangeInput" min="0.0" max="14.5" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="windGustDirSelect">WindGustDir</label>
        <select class="form-control" id="windGustDirSelect" name="WindGustDir" style="background-color: grey;">
          <option value="W">W</option>
          <option value="WNW">WNW</option>
          <option value="WSW">WSW</option>
          <option value="NE">NE</option>
          <option value="NNW">NNW</option>
          <option value="N">N</option>
          <option value="NNE">NNE</option>
          <option value="SW">SW</option>
          <option value="ENE">ENE</option>
          <option value="SSE">SSE</option>
          <option value="S">S</option>
          <option value="NW">NW</option>
          <option value="SE">SE</option>
          <option value="ESE">ESE</option>
          <option value="E">E</option>
          <option value="SSW">SSW</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="windDir9amSelect">WindDir9am</label>
        <select class="form-control" id="windDir9amSelect" name="WindDir9am" style="background-color: grey;">
          <option value="W">W</option>
          <option value="WNW">WNW</option>
          <option value="WSW">WSW</option>
          <option value="NE">NE</option>
          <option value="NNW">NNW</option>
          <option value="N">N</option>
          <option value="NNE">NNE</option>
          <option value="SW">SW</option>
          <option value="ENE">ENE</option>
          <option value="SSE">SSE</option>
          <option value="S">S</option>
          <option value="NW">NW</option>
          <option value="SE">SE</option>
          <option value="ESE">ESE</option>
          <option value="E">E</option>
          <option value="SSW">SSW</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="windDir3pmSelect">WindDir3pm</label>
        <select class="form-control" id="windDir3pmSelect" name="WindDir3pm" style="background-color: grey;">
          <option value="W">W</option>
          <option value="WNW">WNW</option>
          <option value="WSW">WSW</option>
          <option value="NE">NE</option>
          <option value="NNW">NNW</option>
          <option value="N">N</option>
          <option value="NNE">NNE</option>
          <option value="SW">SW</option>
          <option value="ENE">ENE</option>
          <option value="SSE">SSE</option>
          <option value="S">S</option>
          <option value="NW">NW</option>
          <option value="SE">SE</option>
          <option value="ESE">ESE</option>
          <option value="E">E</option>
          <option value="SSW">SSW</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="WindGustSpeed">WindGustSpeed</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">6.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >135.0</span>
            </div>
          </div>
          <input type="range" class="form-range" name="WindGustSpeed" id="rangeInput" min="6.0" max="135.0" step="1.0" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Pressure9am">Pressure9am</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">980.5</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >1041</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Pressure9am" id="rangeInput" min="980.5" max="1041" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">980.5</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Pressure3pm">Pressure3pm</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">977.1</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >1039.6</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Pressure3pm" id="rangeInput" min="977.1" max="1039.6" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">977.1</span>
        </center>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Temp9am">Temp9am</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">-7.2</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >40.2</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Temp9am" id="rangeInput" min="-7.2" max="40.2" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Temp3pm">Temp3pm</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">-5.4</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >46.7</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Temp3pm" id="rangeInput" min="-5.4" max="46.7" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Humidity9am">Humidity9am</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >100.0</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Humidity9am" id="rangeInput" min="0.0" max="100.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Humidity3pm">Humidity3pm</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >100.0</span>
            </div>
          </div>
          <input type="range" class="form-range" name="Humidity3pm" id="rangeInput" min="0.0" max="100.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Cloud9am">Cloud9am</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >9.0</span>
            </div>
          </div>
          <input type="range" name="Cloud9am" class="form-range" id="rangeInput" min="0.0" max="9.0" step="0.1" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Cloud3pm">Cloud3pm</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >9.0</span>
            </div>
          </div>
          <input type="range" name="Cloud3pm" class="form-range" id="rangeInput" min="0.0" max="9.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      <div class="form-group">
        <label for="WindSpeed9am">WindSpeed9am</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >130.0</span>
            </div>
          </div>
          <input type="range" name="WindSpeed9am" class="form-range" id="rangeInput" min="0.0" max="130.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="WindSpeed3pm">WindSpeed3pm</label>
        <div class="range-container">
          <div class="row">
            <div class="col-md-6" style="text-align: left;">
              <span class="range-label">0.0</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <span class="range-label" >87.0</span>
            </div>
          </div>
          <input type="range" name="WindSpeed3pm" class="form-range" id="rangeInput" min="0.0" max="87.0" step="0.5" value="0" style="width: 100%;">
        </div>
        <center>
          <span class="value-display" id="rangeValue">0</span>
        </center>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="RainToday">RainToday</label>
        <select class="form-control" name="RainToday" id="RainToday" style="background-color: gray;">
          <option value="1">Sí</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label></label>
      <button type="submit" style="background-color: #ffae00;
      border-color: #ffae00;
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-top:-8px;
      text-transform: uppercase;
      font-weight: bold;" class="btn btn-primary">Predecir</button>
    </div>
    <div class="col-md-8">
      {% if result %}
  <div class="alert alert-info mt-3" style="    font-weight: bold;
  text-transform: uppercase;
  text-align: center;">
    ¿ES PROBABLE QUE LLUEVA? {{ result[0] }} {{ result[1] }} 
  </div>
{% endif %}
    </div>
  </div>
</form>
<script>
  const rangeInput = document.getElementById('rangeInput');
  const rangeValue = document.getElementById('rangeValue');

  rangeInput.addEventListener('input', () => {
    rangeValue.textContent = rangeInput.value;
  });
</script>
{% endblock %}
